body {
  background-color: bisque;
  overflow: hidden;
}

form {
  position: relative;
  margin-top: 10%;
  margin-left: 35%;
  padding: 50px;

  width: 25vw;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: 400;
  color: brown;
}

form:hover {
  cursor: pointer;
}

form::after,
form::before {
  content: "";
  position: absolute;

  width: 0%;
  height: 2px;
  background-color: brown;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
}

form::after {
  bottom: -10px;

  left: 0;
}

form::before {
  top: 0;
  right: 0;
}

form:hover::after {
  width: 100%;
  background-image: linear-gradient(
    to right,
    brown,
    rgb(245, 192, 46)
  );
}

form:hover::before {
  width: 100%;
  background-image: linear-gradient(
    to left,
    brown,
    rgb(245, 192, 46)
  );
}

body::before,
body::after {
  content: "";
  position: absolute;

  width: 200px;
  height: 200px;
  border-radius: 50%;

  background-color: rgba(107, 80, 31, 0.521);

  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}
body::before {
  top: 0px;
  right: 0px;

  transition: to left;
}
body::after {
  bottom: 0px;
  left: 0px;
}

body:hover::after,
body:hover::before {
  width: 250px;
  height: 250px;
  background-color: rgba(175, 40, 16, 0.219);
}

body:hover::after {
  bottom: 50px;
  left: 50px;
}

body:hover::before {
  top: 50px;
  right: 50px;
}

select,
select option {
  background-color: rgba(241, 135, 116, 0.726);
  border: none;

  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

select:hover,
select:focus {
  cursor: pointer;
  border: thin;
}

label {
  color: rgb(168, 129, 21);
  padding-right: 5px;
  transition-duration: 1s;
  transition-timing-function: ease;
}

label ~ label,
select ~ select {
  margin-top: 5px;
}

label:hover {
  cursor: pointer;
  color: rgb(143, 5, 5);
}

button {
  position: absolute;
  left: 40%;
  display: block;
  margin-top: 10px;
  padding: 10px 20px;

  background-color: lightcoral;

  border: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

button:hover {
  cursor: pointer;
}

input {
  position: absolute;
  left: 8vw;
  top: 0;
  display: block;
  margin: 10px 0;
  width: 200px;

  border: none;
  background-color: rgba(165, 42, 42, 0.726);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
